.btnFilters {
    background-color: #ffd2a8;
    min-width: 30rem;
    height: fit-content;
    font-weight: 700;
    font-size: 2rem;
    padding: 1.8rem 3rem;
    border: none;
    border-radius: 1rem;
    text-transform: uppercase;
    margin-right: 3rem;
    margin-bottom: 1rem;
    transition: box-shadow 0.2s;
}

.btnFilters:hover {
    background-color: #fac089;
}

.navigationBtn {
    width: 4.7rem;
    height: 4rem;
    border: none;
    background-image: url("../../Assets/Images/menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


.closeButton {
    position: absolute;
    right: 0.5rem;
    top: -0.5rem;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4rem;
}
