.resultsCart{
    margin: 0 auto;
    // width: 30%;
    padding: 2rem;
    border: 0.1rem solid black;
    p{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}